@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: #0c0c2a;
    color: #fff;
}
img {
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: #fff;
}
input,
button,
textarea {
    font-family: inherit;
    border: none;
}
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 10px 0;
}
ul {
    padding-left: 0;
}
